table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: yellow;
}
td.unit {
    text-align: left;
}
.unit {
    padding: 2px 60px 2px 6px;
}
.equal-cell {
    padding: 2px 10px;
}